/* 
Theme Name: Acoso.Online

Author: Miguel Soares and Steffania Paola

Author URI: http://acoso.online/

Description: An theme for Acoso.Online
 
Version: 1.0
 
License: GNU General Public License v2 or later
 
License URI: http://www.gnu.org/licenses/gpl-2.0.html
 
Tags: landing-page, one-column
 
*/


@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif !important;
}

h2 {
    font-size: 40px !important;
    font-weight: 300 !important;
    margin-bottom: 36px !important;
}

h3 {
    font-size: 20px !important;
    font-weight: 300 !important;
    text-align: center !important;
}

hr {
    border: solid 1px #979797 !important;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #373a3c !important;
    text-decoration: underline !important;
}

section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #f6f7f2;
}

section h1 {
    font-size: 40px;
    font-weight: 300;
}

section h3 {
    font-size: 24px !important;
    line-height: 1.75;
}

footer {
    background-color: #d8d8d8;
}

.header_navbar {
    padding: 0 0 1rem 0 !important;
    flex-flow: column nowrap !important;
}

.header_navbar--items {
    width: 100%;
}

.header_navbar .header_navbar--title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    margin: 100px 0 20px 0;
    border-bottom: solid 2px #ff6666;
}

.header_navbar--title h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.header_navbar--title p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}


.header_lang {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
}

.header-lang-select {
    padding-top: 10px;
}

.header_lang label {
    padding-right: 10px;
}

.header_lang select {
    border: solid 1px #cccccc;
    border-radius: 5px;
    background: #e6e6e6;
    color: #373a3c;
    padding: 10px 19px;
}

.header_navbar {
    background-image: url("images/mancha.png");
    background-position: right 0;
    background-repeat: no-repeat;
}

.header_navbar--items{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header_navbar--items .menu-navigation-container {
    width: 100%;
}

.header_navbar--items .menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header_navbar--items .menu li {
    flex: 1;
    padding-right: .5rem;
    padding-left: .5rem;
}

.header_navbar--items .menu li:last-child {
    text-align: center;
}

.header_navbar--items .menu li a {
    font-size: 16px;
    font-weight: 500;
}

.header_navbar--title--items {
    display: flex;
    width: 100%;
}

.header_navbar--title--items img {
    height: 50px;
    padding: 5px 14px 0px 0;
}

.header_navbar--items .nav-item {
    width: 159px;
}

@media (max-width: 992px) {
    .header_navbar--items {
        margin: 0 !important;
    }

    .header_navbar--items .menu {
        flex-direction: column;
    }

    .header_navbar--items .menu li {
        width: 100%;
        padding-bottom: 15px;
    }

    .header_navbar--items .menu li:last-child {
        text-align: inherit;
    }
}

.header_navbar--items .menu-item i {
    padding-left: 10px;
}

.home_banner--items {
    text-align: center;
}

.home_banner--items p {
    font-size: 20px;
    line-height: 1.5;
    padding: 0 180px;
}

.grid {
    display: flex;
}

.grid > * {
    flex: 1;
}

.grid2 {
    display: flex;
    line-height: 1.86;
    margin-top: 61px;
}

.grid2 > div {
    padding: 0 30px;
}

.privacidad--items {
    text-align: left;
}

.tabs-container {
    width: 100%;
}

.tabs-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
    margin-bottom: 36px;
    list-style: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.tabs-menu a {
    color: #373a3c;
}

.tabs-menu a:hover {
    color: #373a3c;
}

.tabs-menu .link:last-child {
    flex: 4;
    text-align: end;
}

.tabs-menu .link .link-evidencia {
    color: #ff6666;
}

.tabs-menu :nth-child(-n+2) {
    flex: 1.5;
}

.tab-content {
    display: none;
}

.tab-content-items {
    display: flex;
    text-align: left;
}

.tab-content-items > img {
    flex: 1;
}

.tab-content-items > p {
    flex: 2;
}

.current a {
    padding-bottom: 10px;
    font-weight: 600;
    border-bottom: solid #ff6666 5px;
}

@media (max-width: 992px) {
    section img {
        width: 100%;
        height: 100%;
    }
}

.footer_items {
    padding: 74px 0 52px 0;
}

.footer_items .footer_items--content h3 {
    padding-bottom: 0.5rem;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: normal !important;
    text-align: left !important;
}

@media (max-width: 992px) {
    .footer_items .footer_items--content h3 {
        font-size: 16px;
    }
}

.footer_items .nav-link {
    font-size: 13px;
    padding: 0 10px 10px 0;
}

@media (max-width: 992px) {
    .footer_items .menu-item {
        padding-bottom: 1rem;
        text-align: inherit !important;
        font-size: 15px;
    }

    .footer_items .footer_items--content .menu {
        padding: 0 0 30px 0;
    }
}

.footer_items--project-map .menu-item {
    padding: 0 10px 10px 0;
}

.footer_items--project-map .menu-item a {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #ff6666 !important;
}

@media (max-width: 992px) {
    .footer_items--project-map { 
        padding-bottom: 25px;
        font-size: 15px;
    }
}

.footer_items--claves .nav-link {
    font-size: 13px;
    text-align: left;
    line-height: 1.58;
    letter-spacing: normal;  
    color: #000000;
    padding: 0 15px 0 0;
}

.footer_items--claves ul {
    display: flex;
}

.footer_items--claves li {
    flex: 1;
    text-align: center;
    padding: 0 15px 0 0;
    text-decoration: underline;
}

@media (max-width: 992px) {
    .footer_items--claves {
        padding-bottom: 25px;
    }
}

@media (max-width: 992px) {
    .footer_items--claves .menu {
        flex-direction: column;
    }
}

.footer_items--support .footer_support {
    height: 100%;
}

.footer_support img {
    width: 130px;
    height: 100%;
}

.footer_copyright{
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Helvetica', sans-serif !important;
    color: #000000;
    border-top: solid 1px #ff6666;
    padding-top: 25px;
    margin-top: 25px;
}
